*.sqlite3
*.db
*.log
*.secret_key
*.env
.venv/
venv/
__pycache__/
*.pyc
*.swp
*~
.DS_Store
media/
staticfiles/
*.egg-info/
*.whl
*.coverage
.pytest_cache/
dist/
build/
.env
local_settings.py
*.pem
senhaadmin.txt