{% extends 'base.html' %}
{% load static %}

{% block title %}Produtos - Hortifruti{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/produtos.css' %}">

<h1 style="text-align: center; margin-bottom: 30px;">Lista de Frutas</h1>

<div class="search-form-container">
  <form method="GET" action="{% url 'frutas' %}">
    <input type="text" name="search" placeholder="Buscar por nome..." value="{{ request.GET.search }}">
    <button type="submit">Buscar</button>
  </form>
</div>

<div class="produto-grid">
  {% if frutas %}
    {% for fruta in frutas %}
      <div class="produto-card">
        {% if fruta.image %}
          <img src="{{ fruta.image.url }}" alt="{{ fruta.name }}" class="fruta-img">
        {% else %}
          <div style="height: 200px; background-color: #eee; display: flex; align-items: center; justify-content: center; color: #999;">
            Sem imagem
          </div>
        {% endif %}
        {% if fruta.promocao %}
          <div class="promo-badge">Promoção</div>
        {% endif %}
        <div class="produto-card-content">
          <h3>{{ fruta.name }}</h3>
          {% if fruta.promocao %}
            <p class="price" style="color: red; text-decoration: line-through;">
              R$ {{ fruta.value|floatformat:2 }}
            </p>
            <p class="price" style="color: green; font-weight: bold;">
              R$ {{ fruta.promocao.new_value|floatformat:2 }} / {{ fruta.medida.medida }}
            </p>
          {% else %}
            <p class="price">
              R$ {{ fruta.value|floatformat:2 }} / {{ fruta.medida.medida }}
            </p>
          {% endif %}
          <p>Categoria: {{ fruta.category.name }}</p>
          <a href="{% url 'produto_detail' fruta.pk %}" class="produto-btn">Comprar</a>

        </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="no-results">Nenhum fruta encontrado.</p>
  {% endif %}
</div>
{% endblock %}
