{% extends 'base.html' %}
{% load static %}

{% block title %}Produtos - Hortifruti{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/produtos.css' %}">

<h1 style="text-align: center; margin-bottom: 30px;">Lista de Produtos</h1>

<div class="search-form-container">
  <form method="GET" action="{% url 'lista_produtos' %}">
    <input type="text" name="search" placeholder="Buscar por nome ou categoria..." value="{{ request.GET.search }}">
    <button type="submit">Buscar</button>
  </form>
</div>

<div class="produto-grid">
  {% if produtos %}
    {% for produto in produtos %}
      <div class="produto-card">
        {% if produto.image %}
          <img src="{{ produto.image.url }}" alt="{{ produto.name }}" class="produto-img">
        {% else %}
          <div style="height: 200px; background-color: #eee; display: flex; align-items: center; justify-content: center; color: #999;">
            Sem imagem
          </div>
        {% endif %}
        {% if produto.promocao %}
          <div class="promo-badge">Promoção</div>
        {% endif %}

        <div class="produto-card-content">
          <h3>{{ produto.name }}</h3>
          {% if produto.promocao %}
            <p class="price" style="color: red; text-decoration: line-through;">
              R$ {{ produto.value|floatformat:2 }}
            </p>
            <p class="price" style="color: green; font-weight: bold;">
              R$ {{ produto.promocao.new_value|floatformat:2 }} / {{ produto.medida.medida }}
            </p>
          {% else %}
            <p class="price">
              R$ {{ produto.value|floatformat:2 }} / {{ produto.medida.medida }}
            </p>
          {% endif %}
          <p>Categoria: {{ produto.category.name }}</p>
          <a href="{% url 'produto_detail' produto.pk %}" class="produto-btn">Comprar</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="no-results">Nenhum produto encontrado.</p>
  {% endif %}
</div>
{% endblock %}